@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
:root{
    --main-color: #D9303E;
    --background-color: #0D0D0D;
    --logo-color: #001A76;
    --logo-color-hover:#001AA3;
    --info-color:#E4E1E1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    background: var(--main-color);
    font-family: 'Roboto', sans-serif;
}
header{
    position: fixed;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: solid var(--main-color) 0.1rem;
    z-index: 100;
}
    img.logo {
        width: 6.5rem;
        height: 6rem;
        border-radius: 50%;
    }
    nav.nav-bar{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    i.menu-icon{
        color: var(--main-color);
        position: absolute;
        left: 0;
        padding: 2rem 0 0 2rem;
        cursor: pointer;
    }
    nav ul.nav-menu {
        list-style: none;
        width: 100%;
        transition: opacity 0.3s ease-out, max-height 0.1s ease-out;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
    nav ul.nav-menu.show{
        /*display: block;*/
        opacity: 1;
        max-height: 100%;
        transition: opacity 0.4s ease-in, max-height 0.4s ease-in;
    }
    nav li{
        width: 100%;
        padding: 1rem;
        margin: 0% 0;
        border-top: solid var(--main-color) 0.1rem;
        text-align: center;
    }
    nav li a{
        text-decoration: none;
        color: var(--main-color);
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }
main .home{
    padding-top: 11rem;
    padding-bottom: 2.5rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    main .home img.perfil{
        border-radius: 50%;
        height: 12.5rem;
        width: 12.5rem;
    }
    main .home h2.home-title{
        font-size:1.9rem;
        margin-top: 5%;
        color: var(--background-color);
    }
    main .home span.home-profession{
        font-size: 1.2rem;
        font-weight: 410;
        color: var(--background-color);
    }
    main .home .home-contacts{
        margin:5% 0;
        width: 13rem;
        display: flex;
        justify-content: space-around;
    }
        main .home .home-contacts a.home-logos{
            color: var(--logo-color);
            transition: all 0.3s ease;
        }
            main .home .home-contacts a.home-logos:hover{
                color: var(--logo-color-hover);
                transform: scale(1.5,1.5);
                filter: drop-shadow(-3px -3px 2px rgba(184, 88, 96, 0.849))
                        drop-shadow( 5px  5px 5px rgba(0, 0, 0, 0.2))
                        drop-shadow( 15px 15px 15px rgba(0, 0, 0, 0.2));
            }
    main .home a.cv-button{
        text-decoration:none;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: var(--background-color);
        color: var(--main-color);
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        padding: 0.6rem 3rem;
        border-radius: 6px;
        transition: all 0.5s ease;
    }
        main .home a.cv-button:hover{
            background-color: var(--main-color);
            box-shadow: inset 4px 7px 35px 22px rgba(13,13,13,0.84);
            transform: scale(1.1,1.1);
        }
main .about-me{
    background-color: var(--background-color);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
}
    main .about-me .about-title{
        font-size:1.9rem;
    }
    main .about-me .about-paragraph{
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }
    main .about-me .experience{
        padding-top: 2.5rem;
    }
        main .about-me .experience h3{
            font-size: 1.5rem;
            font-weight: bold;
        }
        main .about-me .experience ul{
            list-style: none;
            margin-left: 2rem;
        }
            main .about-me .experience ul li{
                display: flex;
                justify-content: center;
                margin: 1rem;
            }
                main .about-me .experience ul li i{
                    font-size: 2rem;
                }
                main .about-me .experience ul li .exp-div{
                    display: flex;
                    flex-direction: column;
                    font-size: 1.3rem;
                    width: 11rem;
                }
main .skills{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
    main .skills h2.skills-title{
        font-size:1.9rem;
        padding: 1.5rem;
    }
    main .skills .skills-items{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:2rem
    }
        main .skills .skills-items i{
            font-size: 3.2rem;
            color: var(--logo-color);
            transition: all 0.3s ease;
        }
            main .skills .skills-items i:hover{
                color: var(--logo-color-hover);
                transform: scale(1.5,1.5);
                filter: drop-shadow(-3px -3px 2px rgba(184, 88, 96, 0.849))
                        drop-shadow( 5px  5px 5px rgba(0, 0, 0, 0.2))
                        drop-shadow( 15px 15px 15px rgba(0, 0, 0, 0.2));
            }
    main .skills .education{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2rem;
    }
        main .skills .education .one-grade{
            display: flex;
            flex-direction: column;
            margin: 0.7rem 0;
        }
            main .skills .education .one-grade h3.grade-title{
                font-size: 1.4rem;
            }
            main .skills .education .one-grade span{
                font-size: 1.3rem;
            }
main .portfolio{
    background-color: var(--background-color);
    color: var(--main-color);
    padding: 2rem 0;
}
    main .portfolio h2.portfolio-title{
        font-size:1.9rem;
        padding: 1.5rem;
        text-align: center;
    }
    main .portfolio .example{
        width: 100%;
        height: 22rem;
        background-image: url("./images/setup.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 1rem 0;
    }
        main .portfolio img{
            width: 100%;
        }
        main .portfolio .info{
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(217, 48, 62, 0.8);
            color:var(--info-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.7s;
            pointer-events: none;
        }
            main .portfolio .info.show-info{
                opacity: 1;
                pointer-events: auto;
            }
            main .portfolio .info h3.example-title{
                font-size: 1.6rem;
                margin-top: 2rem;
            }
            main .portfolio .info p.description{
                font-size: 1.2rem;
                text-align: center;
                font-weight: bold;
                margin-top: 1rem;
            }
            main .portfolio .info ul.tools{
                list-style: none;
                width: 60%;
                display: flex;
                justify-content: space-around;
                margin-top: 1.1rem;
            }
                main .portfolio .info ul.tools li i{
                    font-size: 2.8rem;
                }
                main .portfolio .info a.visit-project{
                    text-decoration:none;
                    font-size: 1.5rem;
                    font-weight: bold;
                    background-color: var(--background-color);
                    color: var(--main-color);
                    margin-top: 2rem;
                    margin-bottom: 1.5rem;
                    padding: 0.6rem 3rem;
                    border-radius: 6px;
                    transition: all 0.5s ease;
                } 
                main .portfolio .info a.visit-project:hover{
                    background-color: var(--main-color);
                    box-shadow: inset 4px 7px 35px 22px rgba(13,13,13,0.84);
                    transform: scale(1.1,1.1);
                }
                
main .hobbies h2.hobbies-title{
    font-size:1.9rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}
main .hobbies a.twitch-link{
    display: flex;
    justify-content: center;
}
main .hobbies a.twitch-link img{
    width: 100%;
}
main .hobbies iframe{
    width: 100%;
}
main .hobbies .twitch-aboutme{
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
main .hobbies .personal-hobbies{
    padding: 1rem 0 2rem 0;
}
    main .hobbies .personal-hobbies h3.personal-title{
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
    }
    main .hobbies .personal-hobbies ul{
        padding-top: 0.3rem;
        margin-left: 2.2rem;
        margin-right: 1rem;
    }
    main .hobbies .personal-hobbies ul li{
        margin-top: 1rem;
        font-size: 1.3rem;
        font-weight: 500;
    }
main .contact-me{
    background-color: var(--background-color);
    color: var(--main-color);
}
    main .contact-me h2.contact-me-title{
        font-size:1.9rem;
        text-align: center;
        padding: 1rem 0 0.5rem 0;
    }
    main .contact-me p.contact-description{
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    main .contact-me ul.sites{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 60%;
        margin: auto;
        padding: 1.1rem 0;
    }
        main .contact-me ul.sites li a i{
            color: var(--main-color);
            transition: 0.2s;
        }
            main .contact-me ul.sites li a i:hover{
                color: #C82424 ;
                transform: scale(1.5,1.5);
                filter: drop-shadow(-1px -1px 1px rgba(184, 88, 96, 0.849))
                        drop-shadow( 3px  3px 3px rgba(0, 0, 0, 0.2))
                        drop-shadow( 13px 13px 13px rgba(0, 0, 0, 0.2));
            }
    main .contact-me p.all-rights{
        text-align: center;
        padding-bottom: 1.5rem;
    }

/* Media Query for low resolution  Tablets, Ipads */ 
@media only screen and (min-width:768px) { 
    main .portfolio .example{
        height: 25rem;
    }
    main .portfolio .info{
        padding-top: 3rem;
    }
    main .hobbies a.twitch-link img{
        width: 75%;
    }
    main .hobbies iframe{
        height: 32rem;
    }
    main .hobbies .twitch-aboutme{
        padding: 2.5rem 1rem;
    }
    main .hobbies .personal-hobbies{
        padding: 1rem 0 4rem 0;;
    }
    main .hobbies .personal-hobbies ul li{
        margin-top: 2rem;
    }
    main .contact-me ul.sites{
        width: 30%;
    }
}

/* Media Query for desktop */
@media only screen and (min-width:1024px){
    body { 
        background-color: yellow; 
    } 
    
}